<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Bombparty Room</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spicy+Rice%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik+Mono+One%3A400"/>
  <link rel="stylesheet" href="./styles/bombparty-room.css"/>
</head>
<body>
<div class="bombparty-room-xN1">
  <div class="rectangle-11-JRs">
  </div>
  <div class="line-1-Cn9">
  </div>
  <img class="bombparty-2-8vh" src="./assets/bombparty-2-9k1.png"/>
  <p class="bombparrty-english-4pM">BombParrty (English)</p>
  <p class="fmhk-ZFK">FMHK</p>
  <p class="username1s-room-sWu">UserName1’s Room</p>
</div>
</body>