<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Code Join Room</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spicy+Rice%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/code-join-room.css"/>
</head>
<body>
<div class="code-join-room-u4y">
  <p class="join-private-room-dFs">Join Private Room</p>
  <div class="auto-group-eimh-MBs">
    <p class="code--tBo">code:</p>
    <div class="rectangle-10-c7o">
    </div>
    <div class="group-9-Knu">
      <div class="rectangle-10-HDw">
      </div>
      <p class="join-room-E9B">Join Room</p>
    </div>
  </div>
</div>
</body>