<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Dance</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spicy+Rice%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/dance.css"/>
</head>
<body>
<div class="dance-NAy">
  <div class="property-1default-VWV">
    <div class="rectangle-5-qKT">
    </div>
    <img class="harvestfestival-1-AMj" src="./assets/harvestfestival-1-fkR.png"/>
    <p class="harvest-festival-tYd">Harvest Festival</p>
  </div>
  <div class="property-1variant2-PEV">
    <div class="rectangle-5-w17">
    </div>
    <img class="harvest-1-4rR" src="./assets/harvest-1.png"/>
    <p class="harvest-festival-zVB">Harvest Festival</p>
  </div>
</div>
</body>