<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>footer</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Leckerli+One%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/footer.css"/>
</head>
<body>
<div class="footer-im3">
  <img class="lab-1-qKs" src="./assets/lab-1-LMK.png"/>
  <p class="hope-you-enjoy-the-game-NKo">Hope You Enjoy The Game!</p>
  <p class="nhm-se400-4iR">Nhóm..... SE400</p>
</div>
</body>