<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>header</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Leckerli+One%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spicy+Rice%3A400"/>
  <link rel="stylesheet" href="./styles/header.css"/>
</head>
<body>
<div class="header-7SD">
  <div class="auto-group-t93y-d9f">
    <p class="explosive-w-rd-YnR">Explosive W  rd</p>
    <img class="bm-1-e4m" src="./assets/bm-1.png"/>
  </div>
  <img class="dog-1-A37" src="./assets/dog-1-8LM.png"/>
  <div class="auto-group-hhfy-UpV">
    <img class="ei-user-Qy3" src="./assets/ei-user-GDT.png"/>
    <p class="username1-9Qq">username1</p>
  </div>
</div>
</body>