<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>headerIngame</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spicy+Rice%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/headeringame.css"/>
</head>
<body>
<div class="headeringame-PPK">
  <p class="code-kofm-KGy">Code:  KOFM</p>
  <img class="vector-Euj" src="./assets/vector-urV.png"/>
</div>
</body>