<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Public-Private</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spicy+Rice%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/public-private.css"/>
</head>
<body>
<div class="public-private-f7T">
  <div class="property-1default-Ct5">
    <div class="rectangle-7-8mj">
    </div>
    <div class="rectangle-8-4fP">
    </div>
    <div class="rectangle-9-bfK">
    </div>
    <div class="group-6-wUH">
      <img class="earth-1-s73" src="./assets/earth-1-1CZ.png"/>
      <p class="public-P5P">Public</p>
    </div>
    <div class="group-5-Jy3">
      <img class="lock-1-pgV" src="./assets/lock-1-5Nu.png"/>
      <p class="private-9im">Private</p>
    </div>
  </div>
  <div class="property-1variant2-56d">
    <div class="rectangle-7-csF">
    </div>
    <div class="rectangle-8-kiZ">
    </div>
    <div class="rectangle-9-tZs">
    </div>
    <div class="group-7-ckm">
      <img class="earth-1-j4h" src="./assets/earth-1-pdj.png"/>
      <p class="public-FYq">Public</p>
    </div>
    <div class="group-8-P9F">
      <img class="lock-1-ihK" src="./assets/lock-1-WPw.png"/>
      <p class="private-GD3">Private</p>
    </div>
  </div>
</div>
</body>