<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Randomize Room</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik+Mono+One%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spicy+Rice%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/randomize-room.css"/>
</head>
<body>
<div class="randomize-room-sHw">
  <div class="rectangle-12-pDB">
  </div>
  <div class="line-2-XNV">
  </div>
  <p class="randomize-english-rQm">Randomize (English)</p>
  <p class="kiwk-wh7">KIWK</p>
  <p class="username2s-room-4Fw">UserName2’s Room</p>
  <img class="ramdomize-2-mAM" src="./assets/ramdomize-2-15P.png"/>
</div>
</body>