<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Start The Game</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spicy+Rice%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/start-the-game.css"/>
</head>
<body>
<div class="start-the-game-wdX">
  <p class="game-mode-U7f">Game Mode</p>
  <div class="auto-group-chdu-CZT">
    <div class="group-2-Kty">
      <div class="rectangle-3-fT3">
      </div>
      <p class="randomize-A8u">Randomize</p>
      <div class="ramdomize-1-EuT">
      </div>
    </div>
    <div class="auto-group-31eb-9mX">
      <div class="group-1-VKb">
        <div class="rectangle-2-1oj">
        </div>
        <img class="bombparty-1-M6u" src="./assets/bombparty-1-Rgy.png"/>
        <p class="bomb-Gjf">
        Bomb
        <br/>
        
        </p>
        <p class="party-NXo">Party</p>
      </div>
      <div class="group-3-sjT">
        <div class="rectangle-4-Pxh">
        </div>
        <p class="detective-jWm">Detective</p>
        <p class="word-Sg5">Word</p>
        <img class="detective-1-mCZ" src="./assets/detective-1-eCV.png"/>
      </div>
      <div class="dance-Hwb">
        <div class="rectangle-5-S3o">
        </div>
        <img class="harvestfestival-1-B1P" src="./assets/harvestfestival-1-SLD.png"/>
        <p class="harvest-festival-K7b">Harvest Festival</p>
      </div>
    </div>
  </div>
  <div class="auto-group-zj7d-1WD">
    <div class="rectangle-6-vt5">
    </div>
    <div class="public-private-ENy">
      <div class="rectangle-7-BJD">
      </div>
      <div class="rectangle-8-hnM">
      </div>
      <div class="rectangle-9-dg1">
      </div>
      <div class="group-6-Avq">
        <img class="earth-1-6pV" src="./assets/earth-1-bbb.png"/>
        <p class="public-pkV">Public</p>
      </div>
      <div class="group-5-Zi5">
        <img class="lock-1-g21" src="./assets/lock-1-WBf.png"/>
        <p class="private-cgM">Private</p>
      </div>
    </div>
  </div>
  <div class="auto-group-dlpb-8ub">Let Start The Game</div>
</div>
</body>