<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop - 9</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spicy+Rice%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono%3A400"/>
  <link rel="stylesheet" href="../main/styles/desktop-9.css"/>
</head>
<body>
  <audio  id="audio" preload="auto" autoplay="auto" loop  >
    <source type="audio/mp3" src="../main/assets/creepy-devil-dance-166764.mp3">
</audio>
<div class="desktop-3-gxM">
  <div class="headeringame-Eiy">
    <p class="code-kofm-MYh" id="code"></p>
    <img class="vector-Gff" id="nut" src="../main/assets/vector-HXT.png"/>
  </div>
  <div class="auto-group-49mm-bT3">
    <div class="auto-group-vegk-w17">
      <p class="waiting-for-1-player-to-start-TVF">Waiting for 1 Player to start</p>
      <div class="auto-group-avlb-zEH">
          <!-- player 1 -->
        <div class="auto-group-cmzm-CUm" id="player1" style="display: none;">
        <img class="mokey-1-JEy" src="../main/assets/mokey-1-WKP.png"/>
        <p class="username4-XtR" id="Player1-name">Username4</p>
        </div>

        <div class="auto-group-nt3h-rfo">
          <!-- player2 -->
          <div class="auto-group-cmzm-CUm" id="player2" style="display: none;">
            <img class="bat-1-jDo" src="../main/assets/bat-1-T1o.png"/>
            <p class="username3-rZK" id="Player2-name">Username3</p>
          </div>
          <img class="bm-2-ytq"  src="../main/assets/harvestroom-1.png"/>
          <!-- player 3 -->
          <div class="auto-group-dw1z-hZw" id="player3" style="display: none;">
            <p class="username1-3do" id="Player3-name">Username1</p>
            <img class="baby-1-MPb" src="../main/assets/baby-1-8Ym.png"/>
          </div>
        </div>
        <!-- player 4 -->
        <div class="auto-group-cmzm-CUm" id="player4" style="display: none;">
        <img class="chicken-1-4oo" src="../main/assets/chicken-1-n6Z.png"/>
        <p class="username2-zSZ" id="Player4-name">Username2</p>
        </div>
        <!-- <div class="auto-group-kboh-idT">Leave</div> -->
      </div>
      <div class="auto-group-kboh-idT">Leave</div>
    </div>
    <div class="auto-group-skfq-yJV">
      <p class="chat-room-gyb">Chat Room</p>
      <div class="chat" id="chat">
  


      </div>
      <input id="chatbar" class="auto-group-5c4j-rBF" placeholder="Type Here to chat">
    </div>

  </div>
</div>
</body>
<script src="../socket.io/socket.io.js"></script>


<script>
var log=`{{id}}`;
// js của Waiting-Room
var socket=io("http://localhost:3000");
 var player1=document.querySelector("#player1");
 var player2=document.querySelector("#player2");
 var player3=document.querySelector("#player3");
 var player4=document.querySelector("#player4");
var i=0;
{{!-- var idPlayer=[]; --}}
var code1='';
var UserName='';
var Loca='';
var Of='';
while (i<log.length&&log[i]!=',')
{
  code1+=log[i];
  i++;
}
i++;
while (i<log.length&&log[i]!=',')
{
UserName+=log[i];
i++;
}
i++;
while (i<log.length&&log[i]!=',')
{
Loca+=log[i];
i++;
}
i++;
while (i<log.length&&log[i]!=',')
{
Of+=log[i];
i++;
}
i++;
 function decodeHtmlEntity(encodedString) {
        var doc = new DOMParser().parseFromString(encodedString, 'text/html');
        return doc.documentElement.textContent;
    }
    var decodedString = decodeHtmlEntity(Of);
{{!-- console.log(idPlayer); --}}
  if (Loca==='my')
    {  
    // socket.emit("Create-Room",UserName+"'s Room");
    // var randomNumber = Math.floor(Math.random() * (9000)) + 1000;
    socket.emit("Create-Room", { UserName: UserName, RoomName: UserName + "'s Room",Code:code1 });
    socket.emit("Create-Player");
    socket.on("Player-At-TheMoment",function(data){
  console.log(data);
       });
   
    }
    else
    if (Loca==="your")
    {   
        socket.emit("Create-Room",{UserName: UserName, RoomName:decodedString});
         socket.emit("Create-Player");
         socket.on("Player-At-TheMoment",function(data){
        console.log(data); });
    }

var code=document.querySelector("#code");
code.textContent+='Code: ';
code.textContent+=code1;
// sự kiện nhân vật xuất hiện
{{!-- function disPlayer(idPlayer)
{
  for (var i=0;i<idPlayer.length;i++)
  {
 if (i+1=='1')
 {
 player1.style.display="block";
 var PlayerName=document.querySelector("#Player1-name");
 PlayerName.textContent=idPlayer[i].Use;
 }
 if (i+1=='2')
 {

player2.style.display="block";
 var PlayerName=document.querySelector("#Player2-name");
 PlayerName.textContent=idPlayer[i].Use;
 }
 else
 if (i+1=='3')
 {
 player3.style.display="block";
  var PlayerName=document.querySelector("#Player3-name");
 PlayerName.textContent=idPlayer[i].Use;
 }
 else
 if (i+1=='4')
 {
player4.style.display="block";
 var PlayerName=document.querySelector("#Player4-name");
 PlayerName.textContent=idPlayer[i].Use;
 }
  }

} --}}
</script>

<script src="../main/ScriptChung.js"></script>