
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 30.8rem;
}.bombparty-room-xN1 {
  width: 100%;
  height: 13.9rem;
  position: relative;
}
.bombparty-room-xN1 .rectangle-11-JRs {
  width: 30.8rem;
  height: 12.8rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background: linear-gradient(104.52deg, #ff3131 46.25%, #ff914d 91.99%);
  border-radius: 2.5rem;
}
.bombparty-room-xN1 .line-1-Cn9 {
  width: 0.1rem;
  height: 12.8rem;
  position: absolute;
  left: 25rem;
  top: 0.1rem;
  background-color: #000000;
}
.bombparty-room-xN1 .bombparty-2-8vh {
  width: 7rem;
  height: 8.5rem;
  position: absolute;
  left: 1rem;
  top: 3.6rem;
  object-fit: cover;
  vertical-align: top;
}
.bombparty-room-xN1 .bombparrty-english-4pM {
  width: 13.4rem;
  height: 6.7rem;
  position: absolute;
  left: 9.85rem;
  top: 5.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fff4f4;
  font-family: Spicy Rice, 'Source Sans Pro';
}
.bombparty-room-xN1 .fmhk-ZFK {
  width: 2.6rem;
  height: 11.2rem;
  position: absolute;
  left: 25.9rem;
  top: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2375;
  color: #0b0b0b;
  font-family: Rubik Mono One, 'Source Sans Pro';
}
.bombparty-room-xN1 .username1s-room-sWu {
  width: 19.4rem;
  height: 3.4rem;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #000000;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
