
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 57.6rem;
}.code-join-room-u4y {
  box-sizing: border-box;
  padding: 1rem 0rem 8rem 0.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #000000;
  background-color: #f9f4d8;
  border-radius: 2.5rem;
}
.code-join-room-u4y .join-private-room-dFs {
  margin-bottom: 2.6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #ed6112;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.code-join-room-u4y .auto-group-eimh-MBs {
  margin-left: 0.6rem;
  height: 5.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.code-join-room-u4y .auto-group-eimh-MBs .code--tBo {
  margin: 0.1rem 0.8rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #000000;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.code-join-room-u4y .auto-group-eimh-MBs .rectangle-10-c7o {
  margin-right: 2.1rem;
  width: 29.4rem;
  height: 5.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.code-join-room-u4y .auto-group-eimh-MBs .group-9-Knu {
  width: 16.7rem;
  height: 100%;
  position: relative;
  border-radius: 1.6458rem;
  flex-shrink: 0;
}
.code-join-room-u4y .auto-group-eimh-MBs .group-9-Knu .rectangle-10-HDw {
  width: 15.1rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #a2e85c;
  border-radius: 1.6458rem;
}
.code-join-room-u4y .auto-group-eimh-MBs .group-9-Knu .join-room-E9B {
  width: 14.1rem;
  height: 4.5rem;
  position: absolute;
  left: 0.3rem;
  top: 0.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #000000;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
