
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-4Nq {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #010101;
}
.desktop-4-4Nq .headeringame-zXP {
  margin-bottom: 0.4rem;
  box-sizing: border-box;
  padding: 0.8rem 2.495rem 0.4rem 1.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e9ac37;
  flex-shrink: 0;
}
.desktop-4-4Nq .headeringame-zXP .code-kofm-6qK {
  margin-right: 120rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #ffffff;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-4Nq .headeringame-zXP .vector-q2D {
  margin-bottom: 0.5rem;
  width: 4.0051rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob {
  margin-left: 4.1rem;
  width: calc(100% - 4.1rem);
  height: 84.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf {
  box-sizing: border-box;
  padding: 1.8rem 6.8rem 2.3rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-hghy-DoT {
  margin: 20.7rem 2.28rem 39.5rem 0rem;
  height: calc(100% - 60.2rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-hghy-DoT .auto-group-lkt3-L7P {
  margin: 0rem 1.02rem 0.502rem 0rem;
  display: flex;
  column-gap: 0.0153rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-hghy-DoT .auto-group-lkt3-L7P .heart-7-FEM {
  width: 4.9564rem;
  height: 4.4983rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-hghy-DoT .auto-group-lkt3-L7P .heart-8-nVB {
  width: 4.9564rem;
  height: 4.4983rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-hghy-DoT .auto-group-lkt3-L7P .heart-9-jQR {
  width: 4.9564rem;
  height: 4.4983rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-hghy-DoT .group-12-5DP {
  margin-left: 1.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-hghy-DoT .group-12-5DP .bat-1-cj7 {
  margin-bottom: 1.0642rem;
  width: 14.6202rem;
  height: 10.8358rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-hghy-DoT .group-12-5DP .username3-Xr5 {
  margin-right: 1.0202rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT {
  width: 71.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-zy8x-nX7 {
  margin: 0rem 35.7rem 0.902rem 21.1rem;
  width: calc(100% - 56.8rem);
  display: flex;
  column-gap: 0.0153rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-zy8x-nX7 .heart-10-ta9 {
  width: 4.9564rem;
  height: 4.4983rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-zy8x-nX7 .heart-11-DMX {
  width: 4.9564rem;
  height: 4.4983rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-zy8x-nX7 .heart-12-ZAV {
  width: 4.9564rem;
  height: 4.4983rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX {
  margin: 0rem 0rem 3.6rem 21.1rem;
  width: calc(100% - 21.1rem);
  height: 38.8rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-c9x7-CUM {
  margin-right: 16.7rem;
  width: 16.8rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-c9x7-CUM .auto-group-pjkd-LKf {
  margin-bottom: 0.9118rem;
  width: 100%;
  height: 31.1882rem;
  position: relative;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-c9x7-CUM .auto-group-pjkd-LKf .bm-2-GUD {
  width: 16.8rem;
  height: 16.3882rem;
  position: absolute;
  left: 0;
  top: 14.8rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-c9x7-CUM .auto-group-pjkd-LKf .group-11-azh {
  width: 11.8rem;
  height: 17.3736rem;
  position: absolute;
  left: 2.2rem;
  top: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-c9x7-CUM .auto-group-pjkd-LKf .group-11-azh .mokey-1-Vbs {
  margin-bottom: 1.1rem;
  width: 11.0946rem;
  height: 12.8736rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-c9x7-CUM .auto-group-pjkd-LKf .group-11-azh .username4-EJZ {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-c9x7-CUM .ive-wTs {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fffdfd;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-enep-ssK {
  margin-bottom: 2.0523rem;
  width: 17.1rem;
  height: 26.4477rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-enep-ssK .group-13-Cub {
  width: 16.8rem;
  height: 22.4477rem;
  position: absolute;
  left: 0.3rem;
  top: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-enep-ssK .group-13-Cub .baby-1-isw {
  margin-right: 0.8976rem;
  width: 13.252rem;
  height: 17.5477rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-enep-ssK .group-13-Cub .username1-f2V {
  font-size: 3.5339rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-enep-ssK .heart-1-av9 {
  width: 4.9564rem;
  height: 4.4983rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-enep-ssK .heart-2-imT {
  width: 4.9564rem;
  height: 4.4983rem;
  position: absolute;
  left: 4.9718rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-ngnx-5uX .auto-group-enep-ssK .heart-3-4KX {
  width: 4.9564rem;
  height: 4.4983rem;
  position: absolute;
  left: 9.9436rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-3nyh-mzd {
  margin: 0rem 36.8rem 2.429rem 20rem;
  width: calc(100% - 56.8rem);
  height: 20.0708rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-3nyh-mzd .group-14-qDo {
  width: 12.2rem;
  height: 15.7708rem;
  position: absolute;
  left: 1.3rem;
  top: 4.3rem;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-3nyh-mzd .group-14-qDo .chicken-1-KPs {
  margin-bottom: 0.5rem;
  width: 10.1242rem;
  height: 11.8709rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-3nyh-mzd .group-14-qDo .username2-eh3 {
  margin-left: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-3nyh-mzd .heart-4-aKo {
  width: 4.9564rem;
  height: 4.4983rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-3nyh-mzd .heart-5-vPf {
  width: 4.9564rem;
  height: 4.4983rem;
  position: absolute;
  left: 4.9718rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-3nyh-mzd .heart-6-FRw {
  width: 4.9564rem;
  height: 4.4983rem;
  position: absolute;
  left: 9.9436rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-ahw1-VMf .auto-group-xmo9-rdT .auto-group-fgj5-BKb {
  margin-right: 16.8rem;
  width: 54.9rem;
  height: 10.2rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0f0f0f;
  font-family: Lohit Tamil, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-hm8f-SWR {
  box-sizing: border-box;
  padding-bottom: 0.6rem;
  width: 44.7rem;
  height: 100%;
  background-color: rgba(31, 24, 24, 0.6899999976);
  flex-shrink: 0;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-hm8f-SWR .chat-room-MdP {
  margin: 0rem 0rem 4rem 11.5rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #ffffff;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-hm8f-SWR .usernam1-hello-UT7 {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-hm8f-SWR .username2-hello-bro-BcR {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-hm8f-SWR .usernam1-hello-JS9 {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-hm8f-SWR .username2-hello-bro-bw3 {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-hm8f-SWR .usernam1-hello-vTX {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-hm8f-SWR .username2-hello-bro-q4h {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-hm8f-SWR .usernam1-hello-jA5 {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-hm8f-SWR .username2-hello-bro-SaH {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-hm8f-SWR .usernam1-hello-L9s {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-hm8f-SWR .username2-hello-bro-3KB {
  margin: 0rem 0rem 6.6rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-4Nq .auto-group-a1nj-9ob .auto-group-hm8f-SWR .auto-group-pryv-Z2d {
  box-sizing: border-box;
  padding: 3.4rem 1.4rem 2.6rem 1.4rem;
  width: 43.1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #0f0f0f;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f9f9f9;
  border-radius: 1rem;
}
