
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-7-Fuf {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #010101;
}
.desktop-7-Fuf .headeringame-zcM {
  margin-bottom: 0.4rem;
  box-sizing: border-box;
  padding: 0.8rem 2.495rem 0.4rem 1.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e9ac37;
  flex-shrink: 0;
}
.desktop-7-Fuf .headeringame-zcM .code-kofm-bs3 {
  margin-right: 120rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #ffffff;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-7-Fuf .headeringame-zcM .vector-7aV {
  margin-bottom: 0.5rem;
  width: 4.0051rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM {
  margin-left: 3.4rem;
  width: calc(100% - 3.4rem);
  height: 84.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP {
  box-sizing: border-box;
  padding: 1.1rem 7rem 1.1rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-svrw-5Qq {
  margin: 1rem 15.5rem 0rem 0rem;
  width: 21.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-svrw-5Qq .vote-baby-zXo {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fffdfd;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-svrw-5Qq .auto-group-evkt-vgM {
  box-sizing: border-box;
  padding: 17.7rem 0.8rem 0rem 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-svrw-5Qq .auto-group-evkt-vgM .auto-group-5ofq-esF {
  margin-bottom: 0.5017rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-svrw-5Qq .auto-group-evkt-vgM .auto-group-5ofq-esF .heart-7-QLd {
  margin-right: 0.0153rem;
  width: 4.9564rem;
  height: 4.4983rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-svrw-5Qq .auto-group-evkt-vgM .auto-group-5ofq-esF .heart-8-KiV {
  margin-right: 0.0154rem;
  width: 4.9564rem;
  height: 4.4983rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-svrw-5Qq .auto-group-evkt-vgM .auto-group-5ofq-esF .heart-9-fGZ {
  width: 4.9564rem;
  height: 4.4983rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-svrw-5Qq .auto-group-evkt-vgM .group-12-PCZ {
  margin-right: 3.0797rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-svrw-5Qq .auto-group-evkt-vgM .group-12-PCZ .bat-1-LNh {
  margin-bottom: 1.0642rem;
  width: 14.6203rem;
  height: 10.8358rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-svrw-5Qq .auto-group-evkt-vgM .group-12-PCZ .username3-s7j {
  margin-right: 1.0203rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ {
  margin-right: 18.9rem;
  width: 17.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-cxaf-i8M {
  margin: 0rem 0rem 0.902rem 0.7rem;
  width: 16.5rem;
  height: 4.4983rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-cxaf-i8M .heart-10-2eq {
  width: 4.9564rem;
  height: 4.4983rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-cxaf-i8M .whiteheart-1-Am3 {
  width: 6.5rem;
  height: 4.3574rem;
  position: absolute;
  left: 4.6rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-cxaf-i8M .whiteheart-2-JcM {
  width: 6.5rem;
  height: 4.3574rem;
  position: absolute;
  left: 10rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .group-11-q6V {
  margin: 0rem 2.5rem 7.326rem 2.9rem;
  width: calc(100% - 5.4rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .group-11-q6V .mokey-1-mF3 {
  margin-bottom: 1.1rem;
  width: 11.0946rem;
  height: 12.8736rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .group-11-q6V .username4-heV {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-hj8j-S6H {
  margin: 0rem 0.8rem 7.7rem 0rem;
  width: 16.4rem;
  height: 19.9rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-hj8j-S6H .dog-jbB {
  width: 8.1rem;
  height: 6.7rem;
  position: absolute;
  left: 3.5rem;
  top: 13.2rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fffdfd;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-hj8j-S6H .mysterybox-2-2qB {
  width: 16.4rem;
  height: 13.5525rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-v3md-mGy {
  margin-left: 0.5rem;
  width: 16.3rem;
  height: 20.0708rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-v3md-mGy .group-14-Vyf {
  width: 12.2rem;
  height: 15.7708rem;
  position: absolute;
  left: 1.3rem;
  top: 4.3rem;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-v3md-mGy .group-14-Vyf .chicken-1-EgM {
  margin-bottom: 0.5rem;
  width: 10.1242rem;
  height: 11.8709rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-v3md-mGy .group-14-Vyf .username2-Apu {
  margin-left: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-v3md-mGy .heart-4-JAR {
  width: 4.9564rem;
  height: 4.4983rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-v3md-mGy .whiteheart-5-F5f {
  width: 6.5rem;
  height: 4.3574rem;
  position: absolute;
  left: 4.4rem;
  top: 0.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-rwif-ygZ .auto-group-v3md-mGy .whiteheart-6-NAH {
  width: 6.5rem;
  height: 4.3574rem;
  position: absolute;
  left: 9.8rem;
  top: 0.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-q1st-HHF {
  margin: 21.4rem 0rem 37.364rem 0rem;
  width: 16.9rem;
  height: calc(100% - 58.7636rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-q1st-HHF .auto-group-dj7z-zxM {
  margin-bottom: 1.4017rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-q1st-HHF .auto-group-dj7z-zxM .heart-1-94Z {
  margin-right: 0.0436rem;
  width: 4.9564rem;
  height: 4.4983rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-q1st-HHF .auto-group-dj7z-zxM .auto-group-uv6j-UMj {
  width: 11.9rem;
  height: 4.3574rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-q1st-HHF .auto-group-dj7z-zxM .auto-group-uv6j-UMj .whiteheart-3-cD3 {
  width: 6.5rem;
  height: 4.3574rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-q1st-HHF .auto-group-dj7z-zxM .auto-group-uv6j-UMj .whiteheart-4-wWD {
  width: 6.5rem;
  height: 4.3574rem;
  position: absolute;
  left: 5.4rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-q1st-HHF .group-13-rt5 {
  margin: 0rem 1.1rem 0rem 2.5rem;
  width: calc(100% - 3.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-q1st-HHF .group-13-rt5 .baby-1-BvM {
  margin: 0rem 0.761rem 0rem 0rem;
  width: 10.4492rem;
  height: 13.8364rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-au75-ZhP .auto-group-q1st-HHF .group-13-rt5 .username1-i9b {
  font-size: 2.7865rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-aj15-qk1 {
  box-sizing: border-box;
  padding-bottom: 0.6rem;
  width: 44.7rem;
  height: 100%;
  background-color: rgba(31, 24, 24, 0.6899999976);
  flex-shrink: 0;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-aj15-qk1 .chat-room-9kh {
  margin: 0rem 0rem 4rem 11.5rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #ffffff;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-aj15-qk1 .usernam1-hello-fDF {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-aj15-qk1 .username2-hello-bro-NdT {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-aj15-qk1 .usernam1-hello-HVX {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-aj15-qk1 .username2-hello-bro-CMb {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-aj15-qk1 .usernam1-hello-umo {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-aj15-qk1 .username2-hello-bro-2bX {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-aj15-qk1 .usernam1-hello-kXX {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-aj15-qk1 .username2-hello-bro-SQM {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-aj15-qk1 .usernam1-hello-9Jm {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-aj15-qk1 .username2-hello-bro-Fsb {
  margin: 0rem 0rem 6.6rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-7-Fuf .auto-group-tskf-2xM .auto-group-aj15-qk1 .auto-group-vzso-y2u {
  box-sizing: border-box;
  padding: 3.4rem 1.4rem 2.6rem 1.4rem;
  width: 43.1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #0f0f0f;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f9f9f9;
  border-radius: 1rem;
}
