
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-10-GN1 {
  flex-direction: column;
  background-color: #010101;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;

  .headeringame-cAy {
    margin-bottom: 0.4rem;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    background-color: #e9ac37;
    flex-shrink: 0;
    padding: 0.8rem 2.495rem 0.4rem 1.3rem;
    width: 100%;
    position: relative;
    align-items: center;

    .code-kofm-KLH {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3775;
      color: #ffffff;
      font-family: Spicy Rice, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 120rem;
    }
    .vector-SA1 {
      margin-bottom: 0.5rem;
      width: 4.0051rem;
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-tra7-kwP {
    width: calc(100% - 3.8rem);
    height: 84.6rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 3.8rem;

    .auto-group-bu19-g4M {
      width: 94.6417rem;
      height: calc(100% - 4.1292rem);
      position: relative;
      flex-shrink: 0;
      margin: 1.8rem 2.358rem 2.329rem 0rem;

      .group-13-XKs {
        width: 11.4rem;
        height: 15.1267rem;
        position: absolute;
        left: 83.2417rem;
        top: 0.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .baby-1-Shj {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.6822rem;
          width: 8.9314rem;
          height: 11.8267rem;
          object-fit: cover;
        }
        .username1-BHw {
          font-weight: 400;
          line-height: 1.3775;
          color: #fbf3f3;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.3817rem;
        }
      }
      .group-12-6vh {
        position: absolute;
        left: 0;
        top: 64.1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 14.6202rem;
        height: 15.3rem;

        .bat-1-2ZT {
          margin-bottom: 1.0642rem;
          width: 14.6202rem;
          height: 10.8358rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .username3-A9s {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.0202rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #fbf3f3;
          font-family: Spicy Rice, 'Source Sans Pro';
        }
      }
      .group-14-ge1 {
        top: 64.7rem;
        width: 12.2rem;
        height: 15.7708rem;
        position: absolute;
        left: 82.1rem;

        .chicken-1-CsF {
          margin-bottom: 0.5rem;
          width: 10.1242rem;
          height: 11.8709rem;
          object-fit: cover;
          vertical-align: top;
        }
        .username2-LTf {
          line-height: 1.3775;
          color: #fbf3f3;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.4rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .group-11-rgu {
        width: 11.8rem;
        height: 17.3736rem;
        position: absolute;
        left: 0.9rem;
        top: 0;

        .mokey-1-acu {
          margin-bottom: 1.1rem;
          width: 11.0946rem;
          height: 12.8736rem;
          object-fit: cover;
          vertical-align: top;
        }
        .username4-WmT {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #fbf3f3;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .rectangle-21-3mP {
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 17.3311rem;
        top: 12.5437rem;
      }
      .rectangle-27-ZUq {
        height: 11.1126rem;
        position: absolute;
        left: 22.9rem;
        top: 18.5437rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
      }
      .rectangle-33-gZT {
        position: absolute;
        left: 17.3rem;
        top: 24.7rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
      }
      .rectangle-39-cCD {
        height: 11.1126rem;
        position: absolute;
        left: 22.8rem;
        top: 30.9rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
      }
      .rectangle-45-KMX {
        top: 37rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 17.2rem;
      }
      .rectangle-51-EzH {
        position: absolute;
        left: 11.6rem;
        top: 43.1rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
      }
      .rectangle-57-mUR {
        height: 11.1126rem;
        position: absolute;
        left: 6rem;
        top: 49.2rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
      }
      .rectangle-63-hN5 {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 11.5rem;
        top: 55.4rem;
        background-color: #5b5b5b;
      }
      .rectangle-22-czq {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 28.4rem;
        top: 12.4rem;
        background-color: #5b5b5b;
      }
      .rectangle-28-jpZ {
        top: 18.6rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 33.8689rem;
      }
      .rectangle-34-fCR {
        top: 24.7563rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 28.2689rem;
      }
      .rectangle-40-aaH {
        height: 11.1126rem;
        position: absolute;
        left: 33.7689rem;
        top: 30.9563rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
      }
      .rectangle-46-Vx9 {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 28.1689rem;
        top: 37.0563rem;
        background-color: #5b5b5b;
      }
      .rectangle-52-pzR {
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 22.5689rem;
        top: 43.1563rem;
      }
      .rectangle-58-k7P {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 16.9689rem;
        top: 49.2563rem;
        background-color: #5b5b5b;
      }
      .rectangle-64-gFw {
        position: absolute;
        left: 22.4689rem;
        top: 55.4563rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
      }
      .rectangle-23-oLZ {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 39.5rem;
        top: 12.6437rem;
        background-color: #5b5b5b;
      }
      .rectangle-29-XnM {
        height: 11.1126rem;
        position: absolute;
        left: 44.9689rem;
        top: 18.8437rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
      }
      .rectangle-35-ftZ {
        left: 39.3689rem;
        top: 24.9rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
      }
      .rectangle-41-ozm {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 44.8689rem;
        top: 31.2rem;
        background-color: #5b5b5b;
      }
      .rectangle-47-9oj {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 39.2689rem;
        top: 37.3rem;
        background-color: #5b5b5b;
      }
      .rectangle-53-hKT {
        height: 11.1126rem;
        position: absolute;
        left: 33.5689rem;
        top: 43.3rem;
        background-color: #17f6c0;
        width: 11.1126rem;
      }
      .rectangle-59-qAm {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 28.0689rem;
        top: 49.4rem;
        background-color: #5b5b5b;
      }
      .rectangle-65-NgV {
        position: absolute;
        left: 33.5689rem;
        top: 55.7rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
      }
      .rectangle-24-hyf {
        height: 11.1126rem;
        position: absolute;
        left: 50.6rem;
        top: 12.7437rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
      }
      .rectangle-30-3Xj {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 56.0689rem;
        top: 18.9437rem;
        background-color: #5b5b5b;
      }
      .rectangle-36-PLh {
        top: 25.1rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 50.4689rem;
      }
      .rectangle-42-8JH {
        background-color: #17f6c0;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 55.9689rem;
        top: 31.3rem;
      }
      .rectangle-48-fZ7 {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 50.3689rem;
        top: 37.4rem;
        background-color: #5b5b5b;
      }
      .rectangle-54-ofK {
        position: absolute;
        left: 44.7689rem;
        top: 43.5rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
      }
      .rectangle-60-YN1 {
        top: 49.6rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 39.1689rem;
      }
      .rectangle-66-V2M {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 44.6689rem;
        top: 55.8rem;
        background-color: #5b5b5b;
      }
      .rectangle-25-2HB {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 61.7rem;
        top: 12.8437rem;
        background-color: #5b5b5b;
      }
      .rectangle-31-MqF {
        height: 11.1126rem;
        position: absolute;
        left: 67.1689rem;
        top: 19.0437rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
      }
      .rectangle-37-gcd {
        height: 11.1126rem;
        position: absolute;
        left: 61.5689rem;
        top: 25.2rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
      }
      .rectangle-43-pTw {
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 67.0689rem;
        top: 31.4rem;
      }
      .rectangle-49-x4M {
        position: absolute;
        left: 61.4689rem;
        top: 37.5rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
      }
      .rectangle-55-gm3 {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 55.8689rem;
        top: 43.6rem;
        background-color: #5b5b5b;
      }
      .rectangle-61-ceh {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 50.2689rem;
        top: 49.7rem;
        background-color: #5b5b5b;
      }
      .rectangle-67-AAR {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 55.7689rem;
        top: 55.9rem;
        background-color: #5b5b5b;
      }
      .rectangle-26-JGd {
        left: 72.8rem;
        top: 12.9437rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
      }
      .rectangle-32-e5b {
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 78.2689rem;
        top: 19.1437rem;
      }
      .rectangle-38-PJ5 {
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 72.6689rem;
        top: 25.3rem;
        background-color: #5b5b5b;
      }
      .rectangle-44-XfB {
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 78.1689rem;
        top: 31.5rem;
      }
      .rectangle-50-Gsf {
        top: 37.6rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
        left: 72.5689rem;
      }
      .rectangle-56-1qF {
        position: absolute;
        left: 66.9689rem;
        top: 43.7rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
      }
      .rectangle-62-MeD {
        height: 11.1126rem;
        position: absolute;
        left: 61.3689rem;
        top: 49.8rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
      }
      .rectangle-68-6Lu {
        left: 66.8689rem;
        top: 56rem;
        background-color: #5b5b5b;
        width: 11.1126rem;
        height: 11.1126rem;
        position: absolute;
      }
      .ti-on-ac-drd {
        position: absolute;
        left: 58.4rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: Rubik One, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.7rem;
        top: 37.8rem;
        font-size: 1.3rem;
        color: #0f0f0f;
        width: 4.3rem;
      }
      .ea-th-r-8oP {
        width: 3.9rem;
        height: 1.7rem;
        position: absolute;
        left: 36.4rem;
        font-size: 1.3rem;
        white-space: nowrap;
        top: 50.4rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #0f0f0f;
        font-family: Rubik One, 'Source Sans Pro';
      }
      .in-pa-t-3QZ {
        position: absolute;
        top: 56.1rem;
        font-size: 1.5rem;
        color: #7c7a7a;
        white-space: nowrap;
        width: 4.4rem;
        height: 1.9rem;
        left: 52.7rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: Rubik One, 'Source Sans Pro';
      }
      .item-7-jYH {
        top: 34.1rem;
        font-size: 3.2rem;
        color: #0f0f0f;
        font-family: Spicy Rice, 'Source Sans Pro';
        width: 1.7rem;
        height: 4.5rem;
        left: 60.4rem;
        white-space: nowrap;
        position: absolute;
        font-weight: 400;
        line-height: 1.3775;
      }
      .item-17-zz1 {
        position: absolute;
        top: 46.2rem;
        font-weight: 400;
        color: #0f0f0f;
        font-family: Spicy Rice, 'Source Sans Pro';
        width: 3rem;
        left: 37.7rem;
        font-size: 3.2rem;
        line-height: 1.3775;
        white-space: nowrap;
        height: 4.5rem;
      }
      .item--UuB {
        color: #7c7a7a;
        font-family: Spicy Rice, 'Source Sans Pro';
        height: 4.5rem;
        left: 54.9rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.3775;
        width: 1.8rem;
        position: absolute;
        top: 51.8rem;
        white-space: nowrap;
      }
    }
    .auto-group-ulub-ZQq {
      box-sizing: border-box;
      padding-bottom: 0.6rem;
      width: 44.7rem;
      height: 100%;
      background-color: rgba(31, 24, 24, 0.6899999976);
      flex-shrink: 0;

      .chat-room-req {
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 4rem 11.5rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #ffffff;
      }
      .usernam1-hello-YnZ {
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .username2-hello-bro-qmf {
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
      }
      .usernam1-hello-wZo {
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
      }
      .username2-hello-bro-2bF {
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .usernam1-hello-XY1 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
      }
      .username2-hello-bro-db3 {
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .usernam1-hello-8nh {
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
      }
      .username2-hello-bro-2t5 {
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
      }
      .usernam1-hello-MQZ {
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .username2-hello-bro-5bT {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 6.6rem 1.8rem;
      }
      .auto-group-b1kq-bph {
        width: 43.1rem;
        color: #0f0f0f;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #f9f9f9;
        padding: 3.4rem 1.4rem 2.6rem 1.4rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.3775;
        border-radius: 1rem;
        box-sizing: border-box;
      }
    }
  }
}
