
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.footer-im3 {
  background-color: #dadada;
  box-sizing: border-box;
  padding: 2.8rem 1.9rem 0.6rem 40.7rem;
  width: 100%;
  display: flex;
  align-items: flex-end;

  .lab-1-qKs {
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 1.6577rem;
    width: 6.0423rem;
    height: 8.1rem;
  }
  .hope-you-enjoy-the-game-NKo {
    font-weight: 400;
    line-height: 1.345;
    color: rgba(0, 0, 0, 0.3300000131);
    font-family: Leckerli One, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 21.1rem 1.1rem 0rem;
    font-size: 4.5rem;
  }
  .nhm-se400-4iR {
    flex-shrink: 0;
    margin-bottom: 0.1rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.345;
    color: rgba(0, 0, 0, 0.2800000012);
    font-family: Leckerli One, 'Source Sans Pro';
    white-space: nowrap;
  }
}
