
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36.465rem;
}.public-private-f7T {
  padding: 2rem;
  align-items: center;
  display: flex;
  border-radius: 0.5rem;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;

  .property-1default-Ct5 {
    margin-bottom: 2rem;
    width: 100%;
    height: 6.8866rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-7-8mj {
      border-radius: 2.7768rem;
      width: 20.2154rem;
      height: 6.8866rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #d9d9d9;
    }
    .rectangle-8-4fP {
      border-radius: 2.7768rem;
      width: 20.2154rem;
      height: 6.8866rem;
      position: absolute;
      left: 12.2181rem;
      top: 0;
      background-color: #dcd0d0;
    }
    .rectangle-9-bfK {
      width: 16.4389rem;
      height: 6.8866rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #f69c32;
      border-radius: 2.7768rem;
    }
    .group-6-wUH {
      display: flex;
      align-items: flex-end;
      width: 13.9648rem;
      height: 4.8157rem;
      position: absolute;
      left: 0.7775rem;
      top: 0.9997rem;

      .earth-1-s73 {
        margin: 0rem 0.678rem 0.025rem 0rem;
        width: 4.8872rem;
        height: 4.791rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .public-P5P {
        font-weight: 400;
        line-height: 1.3775;
        color: #000000;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2744rem;
      }
    }
    .group-5-Jy3 {
      height: 4.9225rem;
      cursor: pointer;
      left: 16.7721rem;
      display: flex;
      top: 0.8775rem;
      align-items: flex-start;
      box-sizing: border-box;
      padding-right: 0.7649rem;
      width: 15.6928rem;
      position: absolute;

      .lock-1-pgV {
        margin-right: 0.5183rem;
        width: 3.5095rem;
        height: 4.6651rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .private-9im {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2225rem;
        font-size: 3.3835rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #000000;
        font-family: Spicy Rice, 'Source Sans Pro';
      }
    }
  }
  .property-1variant2-56d {
    width: 100%;
    height: 6.8866rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-7-csF {
      border-radius: 2.7768rem;
      width: 20.2154rem;
      height: 6.8866rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #d9d9d9;
    }
    .rectangle-8-kiZ {
      position: absolute;
      left: 12.2181rem;
      top: 0;
      background-color: #dcd0d0;
      border-radius: 2.7768rem;
      width: 20.2154rem;
      height: 6.8866rem;
    }
    .rectangle-9-tZs {
      left: 15.7rem;
      top: 0.0134rem;
      background-color: #f69c32;
      border-radius: 2.7768rem;
      width: 16.4389rem;
      height: 6.8866rem;
      position: absolute;
    }
    .group-7-ckm {
      display: flex;
      box-sizing: border-box;
      padding-right: 0.8091rem;
      cursor: pointer;
      left: 0.7775rem;
      top: 0.9997rem;
      align-items: flex-end;
      width: 14.7739rem;
      height: 4.8157rem;
      position: absolute;

      .earth-1-j4h {
        margin: 0rem 0.678rem 0.025rem 0rem;
        width: 4.8872rem;
        height: 4.791rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .public-FYq {
        font-weight: 400;
        line-height: 1.3775;
        color: #000000;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2744rem;
      }
    }
    .group-8-P9F {
      height: 4.9225rem;
      position: absolute;
      left: 16.7721rem;
      top: 0.8775rem;
      display: flex;
      align-items: flex-start;
      width: 14.9279rem;

      .lock-1-ihK {
        margin-right: 0.5183rem;
        width: 3.5095rem;
        height: 4.6651rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .private-GD3 {
        font-weight: 400;
        line-height: 1.3775;
        color: #000000;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2225rem;
        font-size: 3.3835rem;
      }
    }
  }
}
