
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80.4rem;
}.start-the-game-wdX {
  padding: 1rem 2.6rem 2.6rem 1.5rem;
  flex-direction: column;
  border-radius: 2.5rem;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  border: dashed 0.1rem #000000;
  background-color: #f9f4d8;

  .game-mode-U7f {
    line-height: 1.3775;
    color: #ed6112;
    font-family: Spicy Rice, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 1.2rem;
    font-size: 3.2rem;
    font-weight: 400;
  }
  .auto-group-chdu-CZT {
    height: 20.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 0rem 5.3rem 1.2rem;
    width: calc(100% - 1.2rem);

    .group-2-Kty {
      width: 15.3rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-3-fT3 {
        background-color: #eeb037;
        border-radius: 2.5rem;
        width: 15.3rem;
        height: 20.2rem;
        position: absolute;
        left: 0;
        top: 0.3rem;
      }
      .randomize-A8u {
        left: 1.3rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        height: 3.9rem;
        top: 16.8rem;
        font-size: 2.8rem;
        line-height: 1.3775;
        font-family: Spicy Rice, 'Source Sans Pro';
        width: 13.1rem;
      }
      .ramdomize-1-EuT {
        width: 14.9rem;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:77a1f99524a38e890785e7841d64244b92550bc3');
        height: 17.6rem;
        position: absolute;
        left: 0.4rem;
        top: 0;
        background-size: 100% 100%;
      }
    }
    .auto-group-31eb-9mX {
      box-sizing: border-box;
      padding-left: 4.5rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-1-VKb {
        position: relative;
        flex-shrink: 0;
        margin: 0.2rem 4.4rem 0.2rem 0rem;
        width: 15.3rem;
        height: calc(100% - 0.4rem);

        .rectangle-2-1oj {
          height: 20.2rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
          background-color: #eeaf36;
          border-radius: 2.5rem;
          width: 15.3rem;
        }
        .bombparty-1-M6u {
          vertical-align: top;
          width: 15.3rem;
          height: 17.2rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
        }
        .bomb-Gjf {
          top: 12.6rem;
          line-height: 1.3775;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          width: 7.7rem;
          height: 4.5rem;
          position: absolute;
          left: 0.4rem;
          font-size: 3.2rem;
          font-weight: 400;
          white-space: nowrap;
        }
        .party-NXo {
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          left: 6.3rem;
          font-size: 3.2rem;
          font-weight: 400;
          top: 15.7rem;
          line-height: 1.3775;
          color: #000000;
          width: 8.1rem;
          height: 4.5rem;
          position: absolute;
        }
      }
      .group-3-sjT {
        position: relative;
        flex-shrink: 0;
        margin: 0.3rem 5rem 0.1rem 0rem;
        width: 15.3rem;
        height: calc(100% - 0.4rem);

        .rectangle-4-Pxh {
          background-color: #eeb037;
          border-radius: 2.5rem;
          width: 15.3rem;
          height: 20.2rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .detective-jWm {
          width: 9.8rem;
          position: absolute;
          font-size: 2.4rem;
          white-space: nowrap;
          height: 3.4rem;
          left: 0.4rem;
          top: 14.7rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
        }
        .word-Sg5 {
          left: 9rem;
          top: 16.9rem;
          font-size: 2.4rem;
          line-height: 1.3775;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          height: 3.4rem;
          position: absolute;
          font-weight: 400;
          width: 5.5rem;
        }
        .detective-1-mCZ {
          width: 14.8rem;
          height: 16.5rem;
          position: absolute;
          left: 0.3rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .dance-Hwb {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 15.3rem;
        height: 20.5rem;
        cursor: pointer;

        .rectangle-5-S3o {
          width: 15.3rem;
          height: 20.2rem;
          position: absolute;
          left: 0;
          top: 0.3rem;
          background-color: #eeb037;
          border-radius: 2.5rem;
        }
        .harvestfestival-1-B1P {
          left: 0.4rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 14.6rem;
          height: 17rem;
          position: absolute;
        }
        .harvest-festival-K7b {
          width: 14.1rem;
          height: 2.8rem;
          top: 16.9rem;
          font-weight: 400;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 0.6rem;
          font-size: 2rem;
          line-height: 1.3775;
        }
      }
    }
  }
  .auto-group-zj7d-1WD {
    width: calc(100% - 4.1351rem);
    height: 6.8866rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 4.035rem 3.813rem 0.1rem;

    .rectangle-6-vt5 {
      flex-shrink: 0;
      margin: 0rem 2.2rem 0.087rem 0rem;
      width: 37.5rem;
      height: 5.8rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 1rem;
    }
    .public-private-ENy {
      width: 32.4649rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-7-BJD {
        width: 20.2154rem;
        height: 6.8866rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #d9d9d9;
        border-radius: 2.7768rem;
      }
      .rectangle-8-hnM {
        position: absolute;
        left: 12.2181rem;
        top: 0;
        background-color: #dcd0d0;
        border-radius: 2.7768rem;
        width: 20.2154rem;
        height: 6.8866rem;
      }
      .rectangle-9-dg1 {
        left: 0;
        top: 0;
        background-color: #f69c32;
        border-radius: 2.7768rem;
        width: 16.4389rem;
        height: 6.8866rem;
        position: absolute;
      }
      .group-6-Avq {
        width: 13.9648rem;
        height: 4.8157rem;
        position: absolute;
        left: 0.7775rem;
        top: 0.9997rem;
        display: flex;
        align-items: flex-end;

        .earth-1-6pV {
          height: 4.791rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.678rem 0.025rem 0rem;
          width: 4.8872rem;
        }
        .public-pkV {
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2744rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #000000;
        }
      }
      .group-5-Zi5 {
        cursor: pointer;
        position: absolute;
        top: 0.8775rem;
        box-sizing: border-box;
        padding-right: 0.7649rem;
        height: 4.9225rem;
        align-items: flex-start;
        width: 15.6928rem;
        left: 16.7721rem;
        display: flex;

        .lock-1-g21 {
          margin-right: 0.5183rem;
          width: 3.5095rem;
          height: 4.6651rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .private-cgM {
          font-weight: 400;
          line-height: 1.3775;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.2225rem;
          font-size: 3.3835rem;
        }
      }
    }
  }
  .auto-group-dlpb-8ub {
    color: #000000;
    background-color: #a2e85c;
    margin: 0rem 18.8rem 0rem 16.5rem;
    width: calc(100% - 35.3rem);
    display: flex;
    justify-content: center;
    border-radius: 2.7768rem;
    height: 6.9rem;
    font-size: 3.2744rem;
    font-weight: 400;
    font-family: Spicy Rice, 'Source Sans Pro';
    align-items: center;
    line-height: 1.3775;
    white-space: nowrap;
    flex-shrink: 0;
  }
}
